* {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
    color: #414141;
}

a {
	text-decoration: none;
}

footer a {
	color: #337ab7;
}

footer a:hover {
	text-decoration: underline;
	color: #23527c;
	cursor: pointer;
}

.form_title {
	padding: 8px;
	background-color: #ffaf40;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	
	
}

.form_element {
	margin: 8px 5px;
	display:flex;
    justify-content: flex-start;
    align-items: center;
}

.form_input {
	width: 200px;
	appearance: none;
    display: block;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
	font-weight: 300;
    background: #fff;
    color: #5f6a7d;
    outline: none;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
	box-sizing: border-box;
	
}

.form_input:focus {
	border-color: #2996cc;
}

.hidden_fade {
	opacity: 0;
}

.btn {
	margin: 8px 5px;
	background-image: none;
	background-color: #3177D4;
	border: none;
	color: #FFF;
	padding: 7px 20px;
	
}

.btn:hover {
	background-color: #6973E5;
}

.container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	z-index: 25;
	padding: 0;
	border-bottom: 1px solid #DDDDDD;
}

.header_container {
	
	width: 75%;
	margin: auto;
	transition: all 0.3s linear;
}

.heading {
	color: #31B133;
	letter-spacing: 3px;
	font-size: 25px;
	margin: 200px auto 50px;
	text-align: center;
}

.sub_heading {
	color: #31B133;
	letter-spacing: 3px;
	font-size: 25px;
	margin: 50px auto;
	text-align: center;
}

.navbar {
	border: none;
	border-radius: 0;
	border-width: 0;
	padding: 0;
	margin: 0;
}

.navbar>ul>li>a {
	color: #979797;
	text-decoration: none;
	transition: all 0.1s linear;
	vertical-align: middle;
}
.navbar ul li a:hover {
	color: #6cc263;
}

.header_text {
	float: left;
	margin-top: 0px;
	letter-spacing: 1px;
	font-weight: 600;
	font-size:20px;
	user-select: none;
	cursor: pointer;
	text-decoration: none;
	color: #6cc263;
}

.header_text:hover {
    text-decoration: none;
    color: #6cc263;
}

.header_bar {
	width: 100%;
	height: 63px;
	color: #414141;
	border-bottom: 1px solid #E0E0E0;
	
}

.gs_button {
	background-color: #4E8DE3;
	padding: 7px 12px;
	box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	transition: all 0.1s linear;
	border-radius: 4px;
	color: #fff;
	margin: 0 auto;
	width: 150px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.gs_button:hover {
	background-color: #277DD7;
}

.upload {
	background-color: #f79320;
	padding: 7px 12px;
    -webkit-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	-moz-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	transition: all 0.1s linear;
	border-radius: 4px;
}

.upload:hover {
	background-color: #ffa230;
	cursor: pointer;
}

.test {
	background-color: #4E8DE3;
	padding: 7px 12px;
    -webkit-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	-moz-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	transition: all 0.1s linear;
	border-radius: 4px;
}

.test:hover {
	background-color: #72ACFB;
	cursor: pointer;
}

body {
	background-color: #fff;
}

header nav ul {
	list-style: none;
	float: right;
}

.btn_list>li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	margin-top: 21px;
	letter-spacing: 1px;
	font-weight: lighter;
	transition: all 0.3s linear;

}

.btn_list li a:hover {
    background-color: #fff !important;
}

.dropdown-menu li {
    text-align: center;
}

.image-section {
	height: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.image-box {
	max-width: 728px;
	margin: 0;
	vertical-align: bottom;
}

.footer_grid {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	display:flex;
	justify-content: space-between;
}

ul {
	list-style: none;
}

.light_normal {
	font-weight: lighter;
	font-size: 95%;
}

footer {
	height: 30%;
	background-color: #1D2329;
	padding: 45px 50px 45px 50px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #D7D7D7;
}

.image-container {
	max-width: 728px;
	
	/*-webkit-box-shadow: 0px 0px 11px 1px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 11px 1px rgba(214,214,214,1);
	box-shadow: 0px 0px 11px 1px rgba(214,214,214,1);*/
	background-color: #000;
	
}

.overlay {  
    height: 100%;
    width: 0;
    position: fixed;
	align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(11,11,11, 0.9);
    overflow-x: hidden;
    
}

.image-title {
	text-align: left;
	padding: 10px;
	background-color: #fff;
	color: #414141;
	font-weight: bold;
}

.image-author {
	text-align: left;
	padding: 13px 0px 10px;
	background-color: #fff;
	color: #6A6A6A;
	font-size: 12px;
}

.flex-row {
	display: flex;
	justify-content: center;
}

.floating_nav {
	position: fixed;
	top: 40%;
	right: 11%;
}

.next-btn {
	margin-left: 3px;
	background-color: #7BAA4C;
	height: 20px;
	padding: 8px 15px;
    -webkit-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	-moz-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	transition: all 0.2s linear;
	border-radius: 4px;
	color: #fff;
}
.next-btn:hover {
	background-color: #88b55b;
	cursor: pointer;
}

.prev-btn {
	background-color: #5A509C;
	height: 20px;
	padding: 8px 15px;
    -webkit-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	-moz-box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	box-shadow: 7px 6px 20px -13px rgba(0,0,0,0.74);
	transition: all 0.2s linear;
	border-radius: 4px;
	color: #fff;
}
.prev-btn:hover {
	background-color: #6a61ab;
	cursor: pointer;
}

#comment_section {
	text-align: center;
	color: #414141;
	
}

#comment_form {

	
}

#comment_form #input_area {
	background-color: #fff;
	margin: 0 auto;
	width: 700px;
	text-align: left;
	padding: 5px;
}

#comment_form #submit_area {
	margin: 0 auto;
	width: 700px;
	padding: 5px;
	
}

.comment_header {
	text-align: left;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-left: 5px;
}

.comment_form_title {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 7px;
	border-bottom: 1px solid #CDCDCD;
	font-weight: bold;
}

.comment_area {
	width: 97.5%;
	max-width: 97.5%;
	height: 75px;
}

.comment_author {
	width: 700px;
}

#comment_box {
	
	
}

.float_right {
	float: right;
}

.flex_spaceb {
	justify-content: space-between;
}

.flex_end {
	justify-content: flex-end;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.flex_start {
	justify-content: flex-start;
}

.comment {
	text-align: left;
	background-color: #fff;
	width: 700px;
	margin: 10px auto;
	padding: 10px;
	color: #414141;
	font-size: 14px;
}

.author_name {
	font-weight: bold;
	margin: auto 8px;
}

.comment_message {
	margin: 10px 40px;
}

#comment_time {
	margin: auto 0;
	font-size: 11px;
	color: #8B8B8B;
}

.del_btn {
	margin: auto 0;
	color: #fff;
	background-color: #F84043;
	padding: 5px;
	transition: all 0.1s linear;
	border-radius: 4px;
	cursor: pointer;
}

#prev_comments {
	padding: 10px;
	background-color: #fff;
	width: 340px;
	color: #414141;
	font-weight: bold;
}

#prev_comments:hover {
	background-color: #fcdc5b;
}

#next_comments {
	padding: 10px;
	background-color: #fff;
	width: 340px;
	color: #414141;
	font-weight: bold;
}

#next_comments:hover {
	background-color: #63CF76;
	
}

.comment_nav {
	margin: 10px;
}

.image_header {
	background-color: #fff;
	padding-right: 10px;
}

.err_msg {
	color: red;
	margin: 0px 25px;
	font-weight: normal;
}

.profile {
	margin-top: 16px !important;
}


#profile_img {
	height: 36px;
	border-radius: 50%;
}

#content_container {
	background-color: #fafafa;

}

#program_box {
	width: auto;
}

#content_container .box {
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.0901961);
    margin: 5px 20px;
	width: auto;
	text-align: center;
    display: inline-block;
	transition: all 0.3s linear;
}

#content_container h4 {
    margin: 5px 20px;
}

.dash_banner {
    font-size: 23px;
    font-weight: normal;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.search_banner {
    font-size: 23px;
    font-weight: normal;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
	flex-direction: row;
}

.search_header{
	flex-grow: 10;
}

.search_div_container {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search_filter {
	flex-grow: 1;
	background-color: #e4ffe0;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.search_div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	width: 250px;
	margin: 0 10px;
}

.search_input{
	flex-grow: 1;
	width: 250px;
	margin: 10px;
	margin-left:auto; 
	margin-right:0;
}

.search_dropdown{
	flex-grow: 1;
	width: 250px;
	margin-left: 10px;
	margin-left:auto; 
	margin-right:0;
}

.search_result_div{
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.search_result{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#content_container h3 {
	margin: 0px;
}

#search_result_header {
	margin-bottom: 10px;
	flex-grow: 15;
}

.search_result_elem {
	border: 1px solid #8e8e8e;
	padding: 5px;
	min-height: 50px;
	display: flex;
	align-items: center;
}

.search_result_name {
	margin-top: 1px;
}

.search_result_desc {
	margin-top: 5px;
}

.search_result_preq {
	display: flex;
	flex-direction: row;
}

.search_result_preq_title {
	align: center;
	height: 30px;
  	line-height: 30px;
  	font-size: 16px;
}

.search_result_preq_course {
	text-align: center;
	margin-left: 10px;
	height: 30px;
  	line-height: 30px;
}

.profile_btn, .profile_btn:focus, .profile_btn:active {
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #fff;
}

.page {
	
	height: auto !important;
	margin: 15px 0 !important;
	width: 75% !important;
}

.center_container {
	width: 75% !important;
	margin: auto;
}

.status_box {
	margin: 15px 0;
	width: 25%;
}

.desc_box {
	text-align: justify;
	width: 65%;
	margin: 20px auto;
}

.flex_cent {
	justify-content: space-between !important;
}

.review_area {
	width: 50% !important;
	
}

.submit_area {
	text-align: left;
	padding: 0 5px;
}

#preq_box {
	width: 65%;
	margin: auto;
}

.program_req_container {
	display: flex;
	flex-direction: column;
	/*align-self: center;*/
}

.program_progress {
	display: flex;
	flex-direction: column;
	margin: 25px 50px 25px 50px;
	border: 1px outset #e8ebef;
	padding: 30px;
	max-width: 900px;
	width: 100%;
	align-self:center;
}

.program_progress_set {
	margin-top: 10px;
}

.program_req_div {
	display: flex;
	flex-direction: column;
	/*margin: 2px;*/
}

.program_req_visual {
	display: flex;
	flex-direction: row;
	margin: 0px;
}

.program_req_name {
	/*flex-grow: 1;*/
	width: 120px;
	font-size: 15px;
}

.program_req_bar {
	flex-grow: 1;
	height: 30px;
	margin-left: 20px;
}

.program_reqs_courses {
	font-size: 12px;
}

.list_course_req {
	display: flex;
	flex-direction: row;
}

.course_req_name_elem {
	margin-right: 7px;
}

.tree_graph {
	padding: 50px;
}