.submit_area {
	text-align: left;
	padding: 0 5px;
}

#preq_box {
	width: 65%;
	margin: auto;
}

.program_req_container {
	display: flex;
	flex-direction: column;
	/*align-self: center;*/
}

.program_progress {
	display: flex;
	flex-direction: column;
	margin: 25px 50px 25px 50px;
	border: 1px outset #e8ebef;
	padding: 30px;
	max-width: 900px;
	width: 100%;
	align-self:center;
}

.program_progress_set {
	margin-top: 10px;
}

.program_req_div {
	display: flex;
	flex-direction: column;
	/*margin: 2px;*/

}

.program_req_visual {
	display: flex;
	flex-direction: row;
	margin: 0px;
}

.program_req_name {
	/*flex-grow: 1;*/
	width: 120px;
	font-size: 15px;
}

.program_req_bar {
	flex-grow: 1;
	height: 30px;
	margin-left: 20px;
}

.program_reqs_courses {
	font-size: 12px;
}

.list_course_req {
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.course_req_name_elem {
	margin-right: 7px;
}

.tree_graph {
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.tree_graph_display {
	align-self:center;
	/*max-width: 900px;*/
	width: 95%;
}

.vote_active {
	border-color: #ffa230 !important;
	color: #ffa230;
}

.path_vis {
	height: 65vh !important;
	width: 75% !important;
	text-align: left !important;
}

.course_info_popup {
	height: 80%;
	display: flex;
	flex-direction: column;
}

.popup_description {
	margin-top: 25px;
	flex-grow: 1;
}

.popup_course_status{

}

.popup_buttons {
	align-self: flex-end;
	display: flex;
	flex-direction: row;
}

.popup_will_take_course_btn {
	background-color: #ff9933;
}

.popup_will_take_course_btn:hover {
	background-color: #ffa64d;
}

.popup_took_course_btn {
	margin-left: 20px;
	background-color: #5cd65c;
}
.popup_took_course_btn:hover {
	background-color: #70db70;
}

.popup_remove_btn {
	background-color: #ff5050;
}

.popup_remove_btn:hover {
	background-color: #ff6666;
}
