<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="/style/index_new.css" rel="stylesheet" type="text/css">
	<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
</head>

<div class="container">

	  <header class="header_bar_green">
		  <div class="cont">
			  <nav class="navbar">
				  <a class="header_text" href="/">
					  <div class="logo"></div>
				  </a>
				  <div id="search_root"></div>
				  <ul class="btn_list" id="btn_list">

				  </ul>
			  </nav>
		  </div>
	  </header>
  </div>
  
  

<div id="content_container">



</div>
<script src="/js/app/course_bundle.js"></script>
</html>
